---

// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<MainLayout title="Home" description="Liu App description">
  <section class="container" aria-label="New Blog Posts">
    <input value="Search"/> 
    <div class="post-container">
      {
        allPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>

</MainLayout>