---

//component imports
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title = "About2" description = "this is a description">
	<h1>hi</h1>
</MainLayout>
