---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home" description="Liu App description">
  <p>hi from Home</p>

</MainLayout>